/* All styles for your Card Components live here */
.cardContainer {
  border-radius: 1rem;
  margin: 2rem 9rem 0 6rem;
  border: 1px solid lightgray;

  .cardImgContainer {
    border-radius: 2rem;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .cardContent {
    padding: 1rem;
    p {
      margin-right: 5rem;
      margin-bottom: 1rem;
    }
  }
}
