$color-light-grey: #bab5b5;

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0.4rem;
  font-family: sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-size: 1.8rem;
  margin: 0 1rem 0 0;
}

p {
  margin: 0;
}
//light color grey for text
.lightText {
  color: $color-light-grey;
}
